<!-- fragments/header.html -->
<div class="navbar" th:fragment="headerFragment" xmlns:th="http://www.thymeleaf.org">
    <div class="logo">
        <a th:href="@{/what2do}">
        <img src="/img/로고1.png" alt="로고">
        </a>
    </div>

    <nav class="menu1">
        <a th:href="@{/admin/today}">오늘 뭐하지?관리</a>
        <a th:href="@{/lego}">놀러 가자!관리</a>
        <a th:href="@{/manager}">자유게시판 관리</a>
        <a th:href="@{/admin/ask}">1:1 문의 답변하기</a>
        <a th:href="@{/list}">회원관리</a>
    </nav>

    <form th:action="@{/listTour}" method="get" style="display: flex; gap: 10px; align-items: center; text-align: center;">
        <div id="container2" style="width: 300px; height: 40px; position: relative; display: flex;">
            <input type="text" name="title" id="kkk" placeholder="검색어(제목)를 입력하세요." style="border: 1px solid; border-radius: 15px; width: 100%; ">
            <button type="submit" id="zzz" style="position: absolute; right: 5px; background-color: transparent; border-radius: 20px; width:40px; height: 40px; align-items: center; justify-content: center;">
                <img src="/img/돋보기.webp" alt="검색" style="width:25px; text-align: center; align-items: center; margin: auto;">
            </button>
        </div>
    </form>

    <div class="auth-section">
        <th:block th:if="${session.user != null and session.user.role == 'ADMIN'}">
            <table>
                <tr>
                    <td><a href="/logout"><button>로그아웃</button></a></td>
                </tr>
            </table>
        </th:block>
    </div>
</div>
