<!-- fragments/header.html -->
<div class="navbar" th:fragment="headerFragment" xmlns:th="http://www.thymeleaf.org">
    <div class="logo">
        <a th:href="@{/main/adminmain}">
            <img src="/img/로고1.png" alt="로고">
        </a>
    </div>

    <nav class="menu1">
        <a th:href="@{/admin/today}">오늘 뭐하지?관리</a>
        <a th:href="@{/lego}">놀러 가자!관리</a>
        <a th:href="@{/manager}">자유게시판 관리</a>
        <a th:href="@{/admin/ask}">1:1 문의 답변하기</a>
        <a th:href="@{/list}">회원관리</a>
    </nav>

    <div class="auth-section">
        <th:block th:if="${session.user != null and session.user.role == 'ADMIN'}">
            <table>
                <tr>
                    <td th:text="${session.user.name} + ' 님,'"></td>
                    <td>환영합니다.</td>
                </tr>
                <tr>
                    <td><a href="/logout"><button>로그아웃</button></a></td>
                </tr>
            </table>
        </th:block>
    </div>
</div>
