<div class="navbar" th:fragment="headerFragment" xmlns:th="http://www.thymeleaf.org">
    <div class="logo">
        <a th:href="@{/what2do}">
            <img src="/img/로고1.png" alt="로고">
        </a>
    </div>
    <div class="menu1">
        <a id="a4" th:href="@{/todo}">오늘 뭐하지?</a>
        <a id="a5" th:href="@{/lego}">놀러가자!</a>
        <a id="a6" th:href="@{/listView}">자유게시판</a>
        <a id="a7" th:href="@{/ask}">1:1 문의하기</a>
        <a id="a7" th:href="@{/weather}">날씨조회</a>
    </div>
    <div class="auth-section">
        <span th:if="${session.user != null}">
            <span th:text="${session.user.id} + '님' "></span>
            <a id="a1" href="/logout">로그아웃</a>
            <a id="a2" href="/myPage"><button class="login-btn">마이페이지</button></a>
        </span>
        <a id="a3" th:if="${session.user == null}" href="/login2">
            <button class="login-btn">로그인</button>
        </a>
    </div>
</div>