<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
  table, tr, td{
   border: 1px solid;
  }
</style>
<body>
<div th:replace="~{fragments/top :: headerFragment}"></div>
<h3>회원 목록리스트</h3>
<table>
<tr>
  <th>아이디</th>
  <th>비밀번호</th>
  <th>이름</th>
  <th>주소</th>
  <th>전화번호</th>
</tr>
<tr th:each="list : ${list}">
  <td>
    <a th:href="@{/viewDetail(id=${list.id})}" th:text="${list.id}"></a>
  </td>
  <td th:text="${list.pw}"></td>
  <td th:text="${list.name}"></td>
  <td th:text="${list.addr}"></td>
  <td th:text="${list.tel}"></td>
</tr>
</table>
</body>
</html>