<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>제주</title>
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans">


<div th:replace="${session.user?.role == 'ADMIN'} ? ~{fragments/admintop :: headerFragment} : ~{fragments/top :: headerFragment}"></div>
<div class="max-w-5xl mx-auto p-6">
  <h1 class="text-3xl font-bold text-center mb-6">마스코트를 선택해주세요</h1>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
    <!-- 마스코트 카드 -->
    <a href="/category?city=제주&areacode=39&sigungucode=4" class="block">
      <div class="bg-white rounded-xl shadow hover:shadow-lg p-4 transition duration-200">
        <img src="/img/제주.webp" alt="제주시 마스코트" class="w-full h-40 object-contain mb-2" />
        <p class="text-center text-lg font-semibold">제주시</p>
      </div>
    </a>
    <a href="/category?city=서귀포&areacode=39&sigungucode=3" class="block">
      <div class="bg-white rounded-xl shadow hover:shadow-lg p-4 transition duration-200">
        <img src="\img\제주.webp" alt="제주시 마스코트" class="w-full h-40 object-contain mb-2" />
        <p class="text-center text-lg font-semibold">서귀포</p>
      </div>
    </a>


  </div>
</div>
</body>
</html>