<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div th:replace="~{fragments/top :: headerFragment}"></div>
<h2> <고객 정보기반 랜덤 활동 추천기능> 준비중인 기능입니다.</h2>
<div class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-br from-blue-100 to-indigo-100">
  <h1 class="text-4xl font-bold mb-4">오늘 뭐하지?</h1>
  <p class="text-lg text-gray-600 mb-10">기분, 날씨, 시간에 딱 맞는 활동을 추천해드릴게요 😊</p>
  <a href="/form">
    <button class="px-6 py-3 bg-blue-600 text-white rounded-xl hover:bg-blue-700 transition">
      추천받기
    </button>
  </a>
</div>

<div th:replace="~{fragments/footer :: footerFragment}"></div>
</body>
</html>